---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { TagsGroup } from '~/utils'
import Pagination from '~/components/Pagination.astro'
import siteConfig from '~/site.config'
import PostPreview from '~/components/PostPreview.astro'
import PageHeader from '~/components/PageHeader.astro'

// Note: Pagination like '/', '/2', '/3' only works with spread param like [...page]
export const getStaticPaths = (async ({ paginate }) => {
  const tagsGroup = await TagsGroup.build()
  const pages = tagsGroup.collations.flatMap((tags) => {
    // Use flatMap to lift the posts for each tag into a single array
    return paginate(tags.entries.reverse(), {
      props: { tagTitle: tags.title },
      params: { tag: tags.titleSlug },
      pageSize: siteConfig.pageSize,
    })
  })
  return pages
}) satisfies GetStaticPaths

const { page, tagTitle } = Astro.props
const pageTitle =
  `标签: ${tagTitle}` + (page.currentPage > 1 ? ` - Page ${page.currentPage}` : '')
---

<Layout title={pageTitle} description={`All posts tagged with ${tagTitle}`}>
  <div class="mt-2 sm:mt-0">
    <PageHeader titlePieces={['标签', tagTitle]} />
    {page.data.map((post) => <PostPreview post={post} />)}
    <Pagination
      prevLink={page.url.prev ? encodeURI(page.url.prev) : undefined}
      prevText="上一页"
      nextLink={page.url.next ? encodeURI(page.url.next) : undefined}
      nextText="下一页"
    />
  </div>
</Layout>
